
/* src/App.css */
body {
  margin: 0;
  padding: 0;
  background: url('./components/tol3ob.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.App {
  width: 70%;
  height: 70%;
  background-color: rgba(255, 255, 255, 0.8);
  margin: auto;
  margin-top: 10px;
  padding: 10px;
}

@media (max-width: 600px) {
  app{
    width: 100%;
  height: 100%;
  }



}

span {
  color: blue;
  font-weight: bold;
}
h1{
  color: chocolate;
}
h2,h3{
  color: red;
}

button{
  background-color: cornflowerblue;
}
button:hover{
  color: yellow;
  background-color: black;
  cursor: pointer;
}